@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ffdd99;
}

#column-2 {
  background: #739900;
}

#column-3 {
  background: #adebeb;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:  #663300;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: #008080;
    width: 100%;
  }

  #column-2 {
    background-color: #f2e6d9;
  }

  #column-3 {
    background-color: #b34700;
  }

  footer {
    background-color: #ffbb33;
  }

  
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #cc6600;
  }

  .col-3 {
    width: 33.33%;
  }
  
  #column-1 {
    background-color: #2d862d;
    width: 33.33%;
  }

  #column-2 {
    background-color:  #ffffff;
  }

  #column-3 {
    background-color: #d1e0e0;
  }

  footer {
    background-color: #734d26;
  }
   
  
}
